- NIM   : 10122005
- Nama  : Zulfi Fadilah Azhar
- Kelas : IF 1

In [187]:
import pandas as pd

In [188]:
a = 16421
c = 12237
m = 2147483647
z0 = 10122005
i = 800000
j = 1000000

In [189]:
def lcg(z, a, c, m):
    return (a * z + c) % m

def diskrit_uniform(Ui,i,j):
    return i+((j-i+1)*Ui)

In [190]:
def variate_generator(a, c, m, z0, i, j):
    zi = z0
    rows = []

    # Menghasilkan 300 baris data
    for _ in range(1, 301):
        zi_next = lcg(zi, a, c, m)
        ui = zi_next / m
        xi = round(diskrit_uniform(ui,i,j),2)
        xi_str = f'Rp{xi:,}'
        rows.append([_, zi, zi_next, round(ui, 5), xi_str, xi])
        zi = zi_next

    return pd.DataFrame(rows, columns=['i', 'Zi-1', 'Zi', 'Ui', 'Xi', 'Xi_float'])

In [191]:
# Memanggil fungsi variate_generator untuk menghasilkan DataFrame
df = variate_generator(a, c, m, z0, i, j)
display(df.loc[:,['i', 'Zi-1', 'Zi', 'Ui', 'Xi']])

       i        Zi-1          Zi       Ui            Xi
0      1    10122005   857215523  0.39917  Rp879,834.82
1      2   857215523  1728292982  0.80480  Rp960,960.63
2      3  1728292982  1302674554  0.60661  Rp921,321.63
3      4  1302674554   134255704  0.06252   Rp812,503.6
4      5   134255704  1294705799  0.60289  Rp920,579.48
..   ...         ...         ...      ...           ...
295  296  1370717944   783266454  0.36474  Rp872,947.74
296  297   783266454   738891488  0.34407  Rp868,814.98
297  298   738891488    54531135  0.02539  Rp805,078.63
298  299    54531135  2102582920  0.97909  Rp995,819.27
299  300  2102582920  1419548738  0.66103  Rp932,206.44

[300 rows x 5 columns]

In [194]:
print(f"Penghasilan rata-rata perbulan: Rp{round(df['Xi_float'].mean(),2):,}")

Penghasilan rata-rata perbulan: Rp905,359.78

In [192]:
ui_duplikat = df[df.duplicated(['Ui'], keep=False)].sort_values(by='Ui')
print("Data Ui yang duplikat")
display(ui_duplikat)

Data Ui yang duplikat

Empty DataFrame
Columns: [i, Zi-1, Zi, Ui, Xi, Xi_float]
Index: []

In [193]:
xi_duplikat = df[df.duplicated(['Xi'], keep=False)].sort_values(by='Xi')
print("Data Xi yang duplikat")
display(xi_duplikat)

Data Xi yang duplikat

Empty DataFrame
Columns: [i, Zi-1, Zi, Ui, Xi, Xi_float]
Index: []